* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('../src/images/duplo24.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

button {
  letter-spacing: 1px;
  width: 150px;
  cursor: pointer;
  border-radius: 8px;
  font-weight: bold;
  height: 50px;
  transition: transform 0.3s ease;
  margin: 0px 10px;
}

button:hover {
  transform: scale(1.1);
  /* Scales the item to 120% of its original size */
  /* background-color: #e0e0e0; */
}

i {
  margin-right: 2px;
  font-weight: bold;
}